.clientes {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    height: 100%;
}

.clientes-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;
}

.clientes-busqueda {
    padding: 0.5rem 1rem; 
    border-radius: 8px;
    border: 1px solid #d1d5db; 
    font-size: 0.9rem; 
    width: 250px;
}

.clientes-nuevo {
    margin-left: auto; 
    padding: 0.4rem 0.9rem; 
    border-radius: 6px;
    background-color: white;
    text-decoration: none;
    color: #C85A7C;
    font-weight: 500;
    font-size: 0.875rem;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgba(200, 90, 124, 0.2);
}

.clientes-nuevo:hover {
    background: #FADADD;
    color: #C85A7C;
    transform: translateY(-1px);
}

.clientes-tabla-contenedor {
    flex: 1;
    margin-top: 1rem;
    overflow: auto;
    border: 1px solid #d1d5db;
    border-radius: 0.8rem;
    background-color: #fff; 
}

.clientes-tabla {
    min-width: 100%; 
    font-size: 0.9rem;
    border-collapse: collapse;
}

.clientes-tabla thead {
    background-color: white;
    color: #8d425a;
    letter-spacing: 0.5px;
}

.clientes-tabla th {
    padding: 0.75rem 1rem;
    text-align: center;
    font-weight: 600;
}

.clientes-tabla td {
    padding: 0.75rem 1rem;
    text-align: center;
    border-top: 1px solid #e5e7eb;
}

.clientes-sin-datos {
    padding: 1rem;
    text-align: center;
    color: #6b7280;
}

.clientes-acciones {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.btn-editar,
.btn-eliminar {
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.btn-editar {
    color: #374151;
    box-shadow: 0 0 0 1px rgba(107, 114, 128, 0.15);
}

.btn-eliminar {
    color: #b91c1c;
    box-shadow: 0 0 0 1px rgba(185, 28, 28, 0.15);
}

.clientes-layout {
    display: flex;
    width: 100%;
    height: 100%;        
    overflow: hidden;   
    transition: all 0.35s ease;
}

.clientes.sidebar-abierto {
    /* margin-left: 350px;   */
    transition: margin-left 0.35s ease;
}
