# dependencias
node_modules/

# compilados de TypeScript
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# entorno
.env
.env.local
.env.*.local

# sistema
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# caches
*.tsbuildinfo
